@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    This application is used to celebrate the employees of Centric Consulting for living up to the core values of the firm.
    It was created by 4 students at Ohio University who are participating in the MIS 4200 Consulting Project within the
    College of Business. These students include Lacy Burke, Devin Daley, John Paolo, and Dom Prestifilippo. </p>
