@{
    ViewBag.Title = "Home Page";
}

<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
        /* Set button width to fit .sidenav */
        .btn {
        }
        .btn-default {width: 95%;}



    </style>
</head>
<body>


    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <div class="btn-group-vertical">
                    <h3>Our Core Values</h3>
                    <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Stewardship &raquo;</a></p>
                    <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Culture &raquo;</a></p>
                    <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Innovation &raquo;</a></p>
                    <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Delivery Excellence &raquo;</a></p>
                    <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Greater Good &raquo;</a></p>
                    <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Integrity and Openess &raquo;</a></p>
                    <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Balance &raquo;</a></p>


                </div>

            </div>
            <div class="col-sm-8 text-left">
                <h2>Welcome to the Centric Core Values Application</h2>
                <p>The purpose of this application is to recognize and celebrate the employees of Centric Consulting for living up to and demonstrating the core values of the company. These seven values can be found in the side bar to the left of your screen. </p>
                <hr>
                <h5>To learn more about Centric, please click the link below.</h5>
                <p><a href="https://centricconsulting.com/" class="btn btn-info">Check out our website &raquo;</a></p>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p><span class="glyphicon glyphicon-user"></span></p>
                    <p>Jane Doe</p>
                </div>
                <div class="well">
                    <p>This month we celebrate Jane for her commitment to innovation.</p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
